:root {
  --color-one--: #ffffff;
  --color-two--: #2196f3;
  --color-three--: #212121;
  --color-four--: #757575;
  --color-five--: #f5f4fa;
}

.checkbox-text span, .form-btn, .modal-button, .footer-subscr__btn, .socials-section__link, .footer-section, .our-clients__link, .team-member__soc-link, .properties__icon, .header-contacts__mail-design,
.header-contacts__tel-design, .header-contacts__item, .header-page .container, .menu__list {
  display: flex;
  align-items: center;
}

.socials-section__title, .properties__title, .menu__text {
  font-size: 14px;
  line-height: 1.14;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-three--);
  background-color: var(--color-one--);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.current-link {
  color: var(--color-two--);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-page {
  height: 80px;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu__text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-menu__logo,
.web-logo {
  color: var(--color-one--);
}

.header-logo {
  color: var(--color-three--);
  margin-right: 93px;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-page {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header-contacts__list {
  margin-left: auto;
}
.header-page .header-contacts__list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.header-contacts__item {
  background-color: transparent;
  justify-items: center;
  fill: var(--color-four--);
}
.header-contacts__item:hover, .header-contacts__item:focus {
  background-color: var(--color-one--);
  fill: var(--color-two--);
}

.header-contacts__icon--right {
  margin-right: 10px;
}

.link-design {
  color: var(--color-four--);
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  color: var(--color-three--);
  display: block;
  text-decoration: none;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link.current-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-two--);
  position: absolute;
  left: 0;
  bottom: -33px;
}

.menu__link:hover,
.menu__link:focus,
.web-logo,
.link-design:hover,
.link-design:focus,
.mail-design:hover,
.mail-design:focus,
.tel-design:hover,
.tel-design:focus {
  color: var(--color-two--);
}

.mail-design,
.tel-design {
  color: var(--color-four--);
}

.heroe-section {
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
  background-color: #C4C4C4;
  padding: 200px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.heroe-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-one--);
  max-width: 696px;
  display: inline-block;
  margin: 0;
}
.heroe-section__container {
  width: 696px;
}

.heroe-section__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-one--);
  background-color: var(--color-two--);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 10px 25px;
  display: inline-block;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heroe-section__button--top {
  margin-top: 30px;
}
.heroe-section__button:hover, .heroe-section__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.activity__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.activity__title--position {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.properties {
  padding-top: 57px;
  padding-bottom: 94px;
}
.properties__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.properties__list .properties__item {
  width: calc((100% - 90px) / 4);
  justify-content: center;
}
.properties__title {
  font-weight: 700;
  text-transform: uppercase;
}
.properties__title--down-position {
  margin-bottom: 10px;
}
.properties__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-four--);
  margin-bottom: 0;
  margin-top: 0;
}
.properties__icon {
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 270px;
  height: 120px;
}

.activity {
  padding-bottom: 94px;
}
.activity__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-direction: row;
}
.activity__text {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--color-one--);
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.activity__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.team-section {
  background-color: var(--color-five--);
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-section__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team-section__title--position {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.team__item {
  background-color: white;
  width: calc((100% - 90px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-member__soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-member__soc-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member__soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member__soc-link:hover, .team-member__soc-link:focus {
  background-color: var(--color-two--);
}
.team-member__soc-link:hover .team-member__soc-icon, .team-member__soc-link:focus .team-member__soc-icon {
  fill: #ffffff;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  text-align: center;
}
.team-member__name--bottom {
  margin-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-four--);
  margin: 0;
  text-align: center;
}
.team-member__position--bottom {
  margin-bottom: 16px;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients_title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.our-clients_title--position {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.our-clients__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.our-clients__item {
  width: 170px;
}

.our-clients__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover, .our-clients__link:focus {
  fill: var(--color-two--);
  border: 1px solid var(--color-two--);
}

.footer-design {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  align-items: baseline;
  gap: 70px;
}

.footer-address__item:not(:last-child) {
  margin-top: 0px;
  margin-bottom: 9px;
}

.footer-address--top {
  margin-top: 20px;
}

.footer-address__contacts {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
}

.footer-address__street {
  color: var(--color-one--);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__mail,
.footer-address__tel {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address--decoration {
  text-decoration: none;
}

.footer-address__mail:hover,
.footer-address__mail:focus,
.footer-address__tel:hover,
.footer-address__tel:focus,
.footer-address__street:hover,
.footer-address__street:focus {
  color: var(--color-two--);
}

.socials-section {
  width: 206px;
}
.socials-section__title {
  font-family: inherit;
  font-weight: 700;
  color: var(--color-one--);
  text-transform: uppercase;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.socials-section__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 20px;
}
.socials-section__icon {
  fill: var(--color-one--);
}

.socials-section__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-section__link:hover, .socials-section__link:focus {
  background-color: var(--color-two--);
}
.socials-section__link:hover .socials-section__icon, .socials-section__link:focus .socials-section__icon {
  fill: #ffffff;
}

.footer-subscr__form {
  display: flex;
  width: 570px;
}
.footer-subscr__form--top {
  margin-top: 20px;
}

.footer-subscr__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-one--);
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.footer-subscr__text {
  display: block;
  width: 358px;
  height: 50px;
  color: var(--color-one--);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-subscr__text--right {
  margin-right: 12px;
}
.footer-subscr__text:focus {
  border: 1px solid var(--color-two--);
  outline: transparent;
}
.footer-subscr__text::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscr__text:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscr__text::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscr__icon--left {
  margin-left: 10px;
}

.footer-subscr__btn {
  width: 200px;
  height: 50px;
  background-color: var(--color-two--);
  color: var(--color-one--);
  fill: currentColor;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  justify-content: center;
  padding-left: 28px;
  cursor: pointer;
}

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: opacity 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 500ms;
}

.btn-design {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  background: var(--color-five--);
  color: var(--color-three--);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-design:hover, .btn-design:focus {
  color: var(--color-one--);
  background-color: var(--color-two--);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-filtr {
  padding-top: 83px;
  padding-bottom: 105px;
}
.work-filtr-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.project-example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-example-link {
  display: block;
}
.project-example-link:hover .project-slider-text, .project-example-link:focus .project-slider-text {
  transform: translateY(0);
}

.project-example-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}
.project-example-item:hover, .project-example-item:focus .project-slider-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1x 4px 6px rgba(0, 0, 0, 0.16);
}

.project-slider {
  position: relative;
  overflow: hidden;
}
.project-slider-text {
  font-family: inherit;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  background-color: var(--color-two--);
  color: var(--color-one--);
  margin: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-border {
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 24px;
}

.project-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-four--);
  margin-top: 0;
  margin-bottom: 0;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-three--);
  margin-bottom: 4px;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.modal-window {
  width: 528px;
  background-color: var(--color-one--);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 400ms linear, height 500ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  transition: transform 400ms linear;
}

.modal-button {
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--color-one--);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--color-two--);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  color: var(--color-three--);
  display: block;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
}

.input-form {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus {
  border: 1px solid var(--color-two--);
  outline: transparent;
}
.input-form:focus + .input-icon {
  fill: var(--color-two--);
}

.input-title {
  display: block;
  font-size: 12px;
  color: var(--color-four--);
  margin-bottom: 4px;
}

.input-form-comment {
  display: block;
  font-size: 12px;
  color: var(--color-four--);
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-comment:focus {
  border: 1px solid var(--color-two--);
  outline: transparent;
}
.input-form-comment::-moz-placeholder {
  display: block;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input-form-comment:-ms-input-placeholder {
  display: block;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.input-form-comment::placeholder {
  display: block;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form-btn {
  color: var(--color-one--);
  font-size: 16px;
  background-color: var(--color-two--);
  letter-spacing: 0.06em;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-field {
  align-items: center;
}

.input-field:not(:last-of-type) {
  margin-bottom: 10px;
  position: relative;
}

.input-field:last-of-type {
  margin-bottom: 30px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  font-size: 14px;
  color: var(--color-four--);
  display: flex;
  justify-content: center;
}
.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-three--);
  border-radius: 3px;
  margin-right: 7px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text .agr-cond {
  text-decoration: underline;
  color: var(--color-two--);
  display: flex;
  padding-left: 2px;
}

.agr-cond:visited {
  color: var(--color-two--);
}

.input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .checkbox-text span {
  background-color: var(--color-two--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
}
.input-check:checked + .checkbox-text .check-icon {
  fill: var(--color-one--);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:hover + .checkbox-text span {
  fill: var(--color-one--);
  border-color: var(--color-two--);
}/*# sourceMappingURL=main.css.map */