

  .activity__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    &--position{
      margin-top: 0;
      margin-bottom: 50px;
      text-align: center;
    }
  } 
  
  .properties {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      display: inline-block;
      // width: 100%;
    }
    
    @include desktop {
      width: 100%;
      padding-top: 57px;
      padding-bottom: 94px;
      
    }
  }    

  .properties__list {
    @include mobile {
      display: block;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
    }
    @include desktop {
     display: flex;
     column-gap: 30px;
     padding-top: 0px;
      padding-bottom: 0px;
    }
    }

    .properties__list .properties__item {
      
      @include mobile {
        width: 100%;
        margin-top: 30px;
      }
      @include tablet {
        width: calc((100% - 30px) /2 );
        margin-top: 0px;
      }
      @include desktop {
       width: calc((100% - 90px) / 4);
       justify-content: center;
      }
    }
    .properties__title {
    font-weight: 700;
    @extend %font;
    text-transform: uppercase;
    @include mobile {
      margin-top: 0px;
      text-align: center;
    }
    @include tablet {
      text-align: left;
    }
  }
  .properties__title--down-position{
    margin-bottom: 10px;
  } 
  .properties__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-four--);
    margin-top: 0;
    margin-bottom: 0px;

  }

  .properties__icon {
    margin-bottom: 30px;
    background-color:#F5F4FA; 
    border-radius: 4px;
    @extend %flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 120px;

    @include mobile {
      width: 450px;
    }
    @include tablet {
      width: 354px;
    }

    @include desktop {
    width: 100%;
    }
  }

    @include mobile {
      .properties__item:first-child {
        margin-top: 0px;
    }
  }
  @include tablet {
    .properties__item:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
  @include desktop {
    .properties__item:nth-child(n+3) {
      margin-top: 0px;
    }
  }
  