

  .activity__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    &--position{
      margin-top: 0;
      margin-bottom: 50px;
      text-align: center;
    }
  } 
  
  .properties {
    padding: 60px 0px;

    @include desktop {
      padding-top: 57px;
      padding-bottom: 94px;
    }

  &__list {
    @include mobile {
      display: block;
    }
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
    }
    @include desktop {
     display: flex;
     column-gap: 30px;
    }
    }
    &__list .properties__item {
      
      @include mobile {
        width: 100%;
        margin-top: 30px;
      }
      @include tablet {
        width: calc((100% - 30px) /2 );
        margin-top: 0px;
      }
      @include desktop {
       width: calc((100% - 90px) / 4);
       justify-content: center;
      }
    }
    &__title {
    font-weight: 700;
    @extend %font;
    text-transform: uppercase;
    @include mobile {
      margin-top: 0px;
      text-align: center;
    }
    @include tablet {
      text-align: left;
    }
  }
  &__title--down-position{
    margin-bottom: 10px;
  } 
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-four--);
    margin-top: 0;
    margin-bottom: 0px;

  }

  &__icon {
    margin-bottom: 30px;
    background-color:#F5F4FA; 
    border-radius: 4px;
    @extend %flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 120px;
  }
    @include mobile {
      width: 450px;
    }
    @include tablet {
      width: 354px;
  
    }

    @include desktop {
    width: 270px;
    }
  }

    @include mobile {
      .properties__item:first-child {
        margin-top: 0px;
    }
  }
  @include tablet {
    .properties__item:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
  